<div class="todo-item" [class.completed]="todo.completed">
  <div class="todo-content">
    <mat-checkbox
      [checked]="todo.completed"
      (change)="toggleTodo()"
      class="todo-checkbox"
    >
    </mat-checkbox>

    <div class="todo-text">
      <h3 class="todo-title" [class.completed-text]="todo.completed">
        {{ todo.title }}
      </h3>
      <p class="todo-description" *ngIf="todo.description">
        {{ todo.description }}
      </p>
      <small class="todo-date">
        Created: {{ todo.createdAt | date:'short' }}
      </small>
    </div>
  </div>

  <div class="todo-actions">
    <button mat-icon-button (click)="editTodo()" class="edit-button">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteTodo()" class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
